node_modules
.next
.git
.gitignore
.env.local
.env.development
.env.test
.env.production
README.md
.DS_Store
*.md
.vscode
.idea
*.log
coverage
**/node_modules
**/.next
**/out
**/build
**/dist
**/*.log
**/.env*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
